<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
<div class="container mt-5 pt-5">
    <ul class="nav nav-tabs justify-content-center" id="product">

        <li class="nav-item" role="presentation"><a id="1" class="nav-link active" aria-current="page" href="#home" role="tab" data-toggle="pill">Книги</a></li>

        <li class="nav-item"><a  id="2" class="nav-link" href="/author">Авторы</a></li>

        <li class="nav-item"><a  id="3" class="nav-link" href="/genre">Жанры</a></li>
    </ul>
    <div class="tab-content">

        <div class="container pt-4 pb-4">

            <div class="row">
                <div class="col-10">
                    <button class="btn btn-primary" onclick="window.location.href = '/book/create';">Создать</button>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm"></div>
                <div class="col-sm"></div>
            </div>
        </div>



        <div role="tabpanel" class="tab-pane fade show active" aria-labelledby="nav-home-tab" id="home">
            <table class="table" id="users">
                <thead class="thread-primary">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">Год публикации</th>
                    <th scope="col">Жанр</th>
                    <th scope="col">Автор</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book,state:${books}">
                    <th scope="row" th:text="${state.index + 1}"></th>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.yearOfPublication}"></td>
                    <td th:text="${book.genre.name}"></td>
                    <td th:text="${book.author.name}"></td>
                    <td>
                        <form>
                            <a class="btn"
                               th:data-bs-whatever-name="${book.name}"
                               th:data-bs-whatever-year="${book.yearOfPublication}"
                               th:data-bs-whatever-genre="${book.genre}"
                               th:data-bs-whatever-author="${book.author}"
                               th:data-bs-whatever-id="${book.id}"
                               data-bs-target="#myModal"
                               data-bs-toggle="modal"
                               id="r1">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn"
                               name="delete-book"
                               th:data-bs-whatever-id="${book.id}">
                                <i class="bi bi-x-square"></i>
                            </a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--модальное окно для редактирования книги-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактирование книги</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/book/edit}" method="post">
                <div class="mb-3">
                    <label for="recipient-name-edit" class="col-form-label">Название</label>
                    <input type="text" class="form-control" name="name" id="recipient-name-edit">
                    <input type="text" class="form-control" name="id" hidden="true" id="recipient-id-edit">
                </div>

                <div class="mb-3">
                    <label for="recipient-year-edit" class="col-form-label">Год публикации</label>
                    <input type="number" min="0" max="2100" name="yearOfPublication"  class="form-control" id="recipient-year-edit">
                </div>
                <div class="mb-3">
                    <label for="recipient-email-edit" class="col-form-label">Жанр</label>
                    <select  class="form-select" name="genreId" id="recipient-email-edit" aria-label="Default select example">
                        <option th:each="genre : ${genres}" th:text="${genre.name}" th:value="${genre.id}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="recipient-author-edit" class="col-form-label">Автор</label>
                    <select class="form-select" name="authorId" id="recipient-author-edit" aria-label="Default select example">
                        <option th:each="author : ${authors}" th:text="${author.name}" th:value="${author.id}"></option>
                    </select>
                </div>

                <input type="text" style="display: none" id="id-usr-edit">

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!--для работы с модальным окном бутстрапа-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    window.onload = function() {
        let deletedElementLog = document.getElementsByName('delete-book')
        deletedElementLog.forEach(item => {
            $(item).on('click', function (event) {
                let id = item.getAttribute('data-bs-whatever-id');
                console.log(id)
                $.ajax({
                    type: 'POST',
                    url: '/book/delete/' + id,
                    success: function (response) {
                        alert(response);
                    }
                })

            })
        })
    };
</script>

<script th:inline="javascript">

    var exampleModalScreen = document.getElementById('myModal')
    exampleModalScreen.addEventListener('show.bs.modal', function (event) {
        // Кнопка, запускающая модальное окно
        var button = event.relatedTarget
    })

    var exampleModal = document.getElementById('myModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Кнопка, запускающая модальное окно
        var button = event.relatedTarget
        console.log(button.nodeName)
        // Извлечь информацию из атрибутов data-bs- *
        var bookName = button.getAttribute('data-bs-whatever-name')
        var lastname = button.getAttribute('data-bs-whatever-genre')
        var year = button.getAttribute('data-bs-whatever-year')
        var author = button.getAttribute('data-bs-whatever-author')
        var id = button.getAttribute('data-bs-whatever-id')

        //
        // Обновите содержимое модального окна.
        // var modalTitle = exampleModal.querySelector('.modal-title')
        var inputName = exampleModal.querySelector('#recipient-name-edit')

        var inputYear = exampleModal.querySelector('#recipient-year-edit')

        var inputAuthor = exampleModal.querySelector('#recipient-author-edit')


        var inputId = exampleModal.querySelector('#recipient-id-edit')


        inputName.value = bookName
        inputYear.value = year;

        inputAuthor.value = author;

        inputId.value = id;
    })
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</body>
</html>